#!/bin/bash

# replace the normal cat
which bat >/dev/null && alias cat=bat

# for resetting some audio stuff
which alsa >/dev/null && alias audio-reload="sudo alsa force-reload"

# Disable globbing on the remote path. because scp is broken
# with zsh globbing-features
alias scp='noglob scp_wrap'
function scp_wrap {
  local -a args
  local i
  for i in "$@"; do case $i in
    (*:*) args+=($i) ;;
    (*) args+=(${~i}) ;;
  esac; done
  command scp "${(@)args}"
}